<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.Oracle10gDialect</property>
    <property name="hibernate.connection.driver_class">oracle.jdbc.OracleDriver</property>
    <property name="hibernate.connection.url">jdbc:oracle:thin:@10.91.1.25:1521:span</property>
    <property name="hibernate.connection.username">survey</property>
    <property name="hibernate.connection.password">survey</property>
    <mapping class="com.esp.entity.SurveyTypeMaster"/>
    <mapping class="com.esp.entity.SurveyQuestionMapping"/>
    <mapping class="com.esp.entity.QuestionMaster"/>
    <mapping class="com.esp.entity.Organisation"/>
    <mapping class="com.esp.entity.SurveyMaster"/>
    <mapping class="com.esp.entity.UserMaster"/>
    <mapping class="com.esp.entity.UserList"/>
   <!--  <mapping class="com.esp.entity.SurveyquestionmappingId"/> -->
    <mapping class="com.esp.entity.AnswerTextMaster"/>
    <mapping class="com.esp.entity.AnswerMaster"/>
    <mapping class="com.esp.entity.QuestionAnswerMapping"/>
    <mapping class="com.esp.entity.AnswerTypeMaster"/>
    <mapping class="com.esp.entity.UserSurveyUrlMapping"/>
    
  </session-factory>
</hibernate-configuration>
